$display-height: 530px;
$display-width: 800px;

// Fonts
$primary-font: 'Cormorant SC';
$secondary-font: 'Pirata One';
$text-size: 24px;

// Colors
$background-color: rgba(255, 255, 255, 0.7);
$background-color-2: rgba(255, 255, 255, 0.9);