@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

.main-menu-wrapper {
  height: 100%;

  .button-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: calc(100% - 38px - 30px);
    justify-content: space-around;
  }
}