<div class="game-wrapper">
  <div class="left-col">
    <app-game-summary></app-game-summary>
    <app-player-summary></app-player-summary>
    <div class="bottom-wrapper">
      <div class="col">
        <app-button type="primary" (click)="toggleMenuModal()">Menu</app-button>
      </div>
    </div>
  </div>
  <div class="map-wrapper">
    <app-map></app-map>
  </div>
</div>

<app-modal [(open)]="menuOpen">
  <div class="menu-wrapper">
    <h2>Menu</h2>
    <app-button type="primary" (click)="handleSaveClick()">Save Game</app-button>
    <app-button type="primary" (click)="handleQuitClick()">Quit Game</app-button>
  </div>
</app-modal>