@import './styles/variables.scss';

main {
  width: $display-width;
  height: $display-height;
  margin: auto;
  background: #e8e8e8;
  padding: 15px;
}

.page-wrapper {
  display: block;
  height: 100%;
  max-width: 100%;
  padding: 15px;
  background-image: url('../assets/shipwreck.jpeg');
  background-size: cover;
  background-position: center;
}