@import '../../styles/variables.scss';

.map-wrapper {
  display: inline-block;
  max-width: 500px;

  .map {
    display: flex;
    flex-direction: column;

    .map-row {
      display: flex;
    }

    .map-cell {
      outline: 1px solid white;
      height: 50px;
      width: 50px;

      .character {
        display: block;
        margin: auto;
        height: $sprite-size;
        width: $sprite-size;
      }

    }
  }
}